<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.876610507421-pjfpac2o5885dfj4hrmqhtsc93tlf66t</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>876610507421-pjfpac2o5885dfj4hrmqhtsc93tlf66t.apps.googleusercontent.com</string>
    <key>UILaunchStoryboardName</key>
    <string>dewy launch screen</string>
</dict>
</plist>
